# Metodología DiD de CodeInterpreter

# Librerías

In [72]:
# !pip install pycountry 
# !pip install countryinfo 
# !pip install altair

In [73]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pycountry
from countryinfo import CountryInfo as CInfo # Se conecta con la informacion de cada país
import matplotlib.pyplot as plt
import  altair  as  alt # Graficos de promedios
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

# Read Data

In [74]:
data = pd.read_csv("https://raw.githubusercontent.com/github/innovationgraph/main/data/languages.csv", delimiter=',')
data

        num_pushers          language language_type iso2_code  year  quarter
0              2066              HTML        markup        AE  2020        1
1              1627               CSS        markup        AE  2020        1
2               288  Jupyter Notebook        markup        AE  2020        1
3               108               Vue        markup        AE  2020        1
4              1734        JavaScript   programming        AE  2020        1
...             ...               ...           ...       ...   ...      ...
104437          198        TypeScript   programming        ZW  2023        4
104438          150                 C   programming        ZW  2023        4
104439          140        Dockerfile   programming        ZW  2023        4
104440          140               PHP   programming        ZW  2023        4
104441          139              Java   programming        ZW  2023        4

[104442 rows x 6 columns]

In [75]:
# Filtro de EU
data = data[data.iso2_code != "EU"]

# Filtro de XK = Kosovo
data = data[data.iso2_code != "XK"]

In [76]:
# This will give you the count of rows with NaN values.
nan_rows_count = data.isna().any(axis=1).sum()
print(f"There are {nan_rows_count} rows with NaN values in the dataset.")

There are 35 rows with NaN values in the dataset.

In [77]:
data[data["iso2_code"].isnull()] = "NA"

## Keep the 10 most used programming languages

In [78]:
# Group the data by 'language' and sum 'num_pushers' for each language
data['num_pushers'] = pd.to_numeric(data['num_pushers'], errors='coerce')

# Step 2: Fill NaN values with 0 (optional, based on your context)
# data['num_pushers'].fillna(0, inplace=True)
language_usage = data.groupby('language')['num_pushers'].sum()
language_list = language_usage.sort_values(ascending=False).index.tolist()
# # Display the sorted result
# print(language_usage)
# Convert the language usage Series to a list of languages sorted by frequency of use
top_program_lang = language_list[:20]
top_program_lang

['HTML',
 'JavaScript',
 'CSS',
 'Python',
 'Shell',
 'Java',
 'TypeScript',
 'Dockerfile',
 'SCSS',
 'C++',
 'C',
 'Makefile',
 'PHP',
 'Jupyter Notebook',
 'Ruby',
 'C#',
 'Batchfile',
 'CMake',
 'Objective-C',
 'Kotlin']

In [80]:
data2 = data[data['language'].isin(top_program_lang)]
data2 = data2.reset_index(drop=True)
data2

       num_pushers          language language_type iso2_code  year quarter
0           2066.0              HTML        markup        AE  2020       1
1           1627.0               CSS        markup        AE  2020       1
2            288.0  Jupyter Notebook        markup        AE  2020       1
3           1734.0        JavaScript   programming        AE  2020       1
4            816.0            Python   programming        AE  2020       1
...            ...               ...           ...       ...   ...     ...
34872        198.0        TypeScript   programming        ZW  2023       4
34873        150.0                 C   programming        ZW  2023       4
34874        140.0        Dockerfile   programming        ZW  2023       4
34875        140.0               PHP   programming        ZW  2023       4
34876        139.0              Java   programming        ZW  2023       4

[34877 rows x 6 columns]

In [81]:
data2['year_quarter'] = data2['year'].astype(str) + '-Q' + data2['quarter'].astype(str)
data2
# Reseteamos el index
data2 = data2.reset_index(drop=True)
data2

,num_pushers,language,language_type,iso2_code,year,quarter,year_quarter
0,2066.0,HTML,markup,AE,2020,1,2020-Q1
1,1627.0,CSS,markup,AE,2020,1,2020-Q1
2,288.0,Jupyter Notebook,markup,AE,2020,1,2020-Q1
3,1734.0,JavaScript,programming,AE,2020,1,2020-Q1
4,816.0,Python,programming,AE,2020,1,2020-Q1
...,...,...,...,...,...,...,...
34872,198.0,TypeScript,programming,ZW,2023,4,2023-Q4
34873,150.0,C,programming,ZW,2023,4,2023-Q4
34874,140.0,Dockerfile,programming,ZW,2023,4,2023-Q4
34875,140.0,PHP,programming,ZW,2023,4,2023-Q4
34876,139.0,Java,programming,ZW,2023,4,2023-Q4

In [82]:
# Creating a unique identifier
data2['unique_id'] = data2['iso2_code'] + '-' + data2['language']

In [83]:
import pandas as pd
import numpy as np

# Assume 'df' is your original DataFrame after reading the CSV file.
# 'unique_id' and 'year_quarter' are columns in your DataFrame.

# Create a DataFrame of unique identifiers
iso2_code = pd.DataFrame({'iso2_code': data2['iso2_code'].unique()})

# Create a DataFrame of unique identifiers for languages 
language = pd.DataFrame({'language': data2['language'].unique()})

# Create a DataFrame of all time periods
# time_periods = pd.DataFrame({'year_quarter': range(data2['year_quarter'].min(), data2['year_quarter'].max() + 1)})
year_quarter = pd.DataFrame({'year_quarter': data2['year_quarter'].unique()})

# Create the Cartesian product of unique_ids and time_periods
balanced_panel = iso2_code.merge(language, how='cross').merge(year_quarter, how='cross')

balanced_panel["unique_id"] = balanced_panel["iso2_code"] + "-" +balanced_panel["language"]
balanced_panel

# # Merge the balanced panel with the original data
balanced_df = balanced_panel.merge(data2, on=['unique_id', 'year_quarter'], how='left')

# # Merge the DataFrames with suffixes
balanced_df = balanced_panel.merge(data2, on=['unique_id', 'year_quarter'], how='left', suffixes=('', '_y'))

# # Now, drop the columns with '_y' suffix, which are from the right DataFrame
balanced_df = balanced_df.loc[:, ~balanced_df.columns.str.endswith('_y')]
balanced_df 
# # Now 'balanced_df' is a balanced panel with NaNs for missing data
# # You might need to sort the DataFrame depending on your needs
# balanced_df = balanced_df.sort_values(by=['unique_id', 'year_quarter'])

,iso2_code,language,year_quarter,unique_id,num_pushers,language_type,year,quarter
0,AE,HTML,2020-Q1,AE-HTML,2066.0,markup,2020,1
1,AE,HTML,2020-Q2,AE-HTML,3254.0,markup,2020,2
2,AE,HTML,2020-Q3,AE-HTML,3208.0,markup,2020,3
3,AE,HTML,2020-Q4,AE-HTML,3255.0,markup,2020,4
4,AE,HTML,2021-Q1,AE-HTML,3321.0,markup,2021,1
...,...,...,...,...,...,...,...,...
51835,CG,SCSS,2022-Q4,CG-SCSS,NaN,NaN,NaN,NaN
51836,CG,SCSS,2023-Q1,CG-SCSS,NaN,NaN,NaN,NaN
51837,CG,SCSS,2023-Q2,CG-SCSS,NaN,NaN,NaN,NaN
51838,CG,SCSS,2023-Q3,CG-SCSS,NaN,NaN,NaN,NaN
51839,CG,SCSS,2023-Q4,CG-SCSS,NaN,NaN,NaN,NaN

In [84]:
# Function to convert quarter format to integer
def quarter_to_int(quarter_string):
    year, q = quarter_string.split('-')
    year = int(year)
    quarter_number = int(q[1])  # Q1, Q2, Q3, Q4 -> 1, 2, 3, 4
    base_year = 2020  # Adjust based on your balanced_df, or set dynamically
    return 4 * (year - base_year) + quarter_number

# Applying the function
balanced_df['quarter'] = balanced_df['year_quarter'].apply(quarter_to_int)
balanced_df['year'] = balanced_df['year_quarter'].str.split('-').str[0]
balanced_df.loc[balanced_df["num_pushers"].isnull(), "num_pushers"] = 0
balanced_df

,iso2_code,language,year_quarter,unique_id,num_pushers,language_type,year,quarter
0,AE,HTML,2020-Q1,AE-HTML,2066.0,markup,2020,1
1,AE,HTML,2020-Q2,AE-HTML,3254.0,markup,2020,2
2,AE,HTML,2020-Q3,AE-HTML,3208.0,markup,2020,3
3,AE,HTML,2020-Q4,AE-HTML,3255.0,markup,2020,4
4,AE,HTML,2021-Q1,AE-HTML,3321.0,markup,2021,5
...,...,...,...,...,...,...,...,...
51835,CG,SCSS,2022-Q4,CG-SCSS,0.0,NaN,2022,12
51836,CG,SCSS,2023-Q1,CG-SCSS,0.0,NaN,2023,13
51837,CG,SCSS,2023-Q2,CG-SCSS,0.0,NaN,2023,14
51838,CG,SCSS,2023-Q3,CG-SCSS,0.0,NaN,2023,15
51839,CG,SCSS,2023-Q4,CG-SCSS,0.0,NaN,2023,16

## Per capita measures

In [85]:
# Definimos una función que convierte los nombres de países en códigos iso2
def country_to_iso2(country_name):
    try:
        # Intentamos obtener el código iso2 del país usando pycountry
        return pycountry.countries.get(name=country_name).alpha_2
    except AttributeError:
        try:
            # Manejamos casos especiales donde el nombre del país no coincide exactamente con la base de datos de pycountry
            special_cases = {
                "Czechia (Czech Republic)": "CZ",
                "Congo (Congo-Brazzaville)": "CG",
                "Holy See": "VA",
                "Timor-Leste (East Timor)": "TL",
                "Ukraine (with certain exceptions)": "UA",
                "Taiwan": "TW",
                "Bolivia": "BO",
                "Tanzania": "TZ",
                "South Korea": "KR",
                "Moldova": "MD",
                "Brunei": "BN"
            }
            return special_cases[country_name]
        except KeyError:
            return None

# Creamos una lista de países y obtenemos sus códigos iso2 usando la función country_to_iso2
gpt_countries_list = [
    "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria",
    "Azerbaijan", "Bahamas", "Bangladesh", "Barbados", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia",
    "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Cabo Verde", "Canada",
    "Chile", "Colombia", "Comoros", "Congo (Congo-Brazzaville)", "Costa Rica", "Côte d'Ivoire", "Croatia", "Cyprus",
    "Czechia", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "El Salvador", "Estonia", "Fiji",
    "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea",
    "Guinea-Bissau", "Guyana", "Haiti", "Holy See", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iraq",
    "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait",
    "Kyrgyzstan", "Latvia", "Lebanon", "Lesotho", "Liberia", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar",
    "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico",
    "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar", "Namibia",
    "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Macedonia", "Norway",
    "Oman", "Pakistan", "Palau", "Palestine, State of", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines",
    "Poland", "Portugal", "Qatar", "Romania", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia",
    "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal",
    "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "South Africa",
    "South Korea", "Spain", "Sri Lanka", "Suriname", "Sweden", "Switzerland", "Taiwan", "Tanzania", "Thailand",
    "Timor-Leste", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Tuvalu", "Uganda", "Ukraine",
    "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Vanuatu", "Zambia"
]

gpt_countries_iso = [country_to_iso2(country) for country in gpt_countries_list]

# Agregamos una nueva columna gpt_available, con valor 1 si el código iso2 está en la lista gpt_countries_iso, y 0 en caso contrario
balanced_df["gpt_available"] = balanced_df["iso2_code"].apply(lambda row: 1 if row in gpt_countries_iso else 0)

In [86]:
countries = data2.iso2_code.unique()

def create_populations_dictionary():
    country_populations = {}
    special_cases = {"MM": 54688774, "PS": 5483450, "ME": 602445, "AD":79824}
    # special_cases = {}
    for country in countries:
        try:
            country_populations.update({country: CInfo(country).info()["population"]})
        except KeyError:
            try:
                fallback_name = pycountry.countries.lookup(country).name
                country_populations.update({country: CInfo(fallback_name).info()["population"]})
            except KeyError:
                print(country)
                country_populations.update({country: special_cases[country]})

    return country_populations

country_populations = create_populations_dictionary()

ME
MM
PS
AD

# Creación de variables "population", "pushes_pc", "time", "Post" & "Treatment"

**population**

In [92]:
balanced_df["population"] = balanced_df["iso2_code"].map(country_populations)

**pushes_pc**

In [93]:
balanced_df["num_pushers_pc"] = (balanced_df["num_pushers"] / balanced_df["population"])*100000

**time**

In [94]:
balanced_df.num_pushers_pc.describe()

count    51840.000000
mean        14.448558
std         32.908201
min          0.000000
25%          0.000000
50%          2.845292
75%         14.365426
max        668.947310
Name: num_pushers_pc, dtype: float64

**Post**

In [96]:
balanced_df.year = balanced_df.year.astype(int)

In [97]:
# Aplicar la condición y crear la columna post_CI
balanced_df['post_CI'] = (balanced_df['year'] >= 2023) & (balanced_df['quarter'] >= 2)
balanced_df['post_CI'] = balanced_df['post_CI'].astype(int)
balanced_df

,iso2_code,language,year_quarter,unique_id,num_pushers,language_type,year,quarter,gpt_available,population,num_pushers_pc,post_CI
0,AE,HTML,2020-Q1,AE-HTML,2066.0,markup,2020,1,1,9446000,21.871692,0
1,AE,HTML,2020-Q2,AE-HTML,3254.0,markup,2020,2,1,9446000,34.448444,0
2,AE,HTML,2020-Q3,AE-HTML,3208.0,markup,2020,3,1,9446000,33.961465,0
3,AE,HTML,2020-Q4,AE-HTML,3255.0,markup,2020,4,1,9446000,34.459030,0
4,AE,HTML,2021-Q1,AE-HTML,3321.0,markup,2021,5,1,9446000,35.157739,0
...,...,...,...,...,...,...,...,...,...,...,...,...
51835,CG,SCSS,2022-Q4,CG-SCSS,0.0,NaN,2022,12,1,4559000,0.000000,0
51836,CG,SCSS,2023-Q1,CG-SCSS,0.0,NaN,2023,13,1,4559000,0.000000,1
51837,CG,SCSS,2023-Q2,CG-SCSS,0.0,NaN,2023,14,1,4559000,0.000000,1
51838,CG,SCSS,2023-Q3,CG-SCSS,0.0,NaN,2023,15,1,4559000,0.000000,1
51839,CG,SCSS,2023-Q4,CG-SCSS,0.0,NaN,2023,16,1,4559000,0.000000,1

**Treatment**

In [98]:
balanced_df['python'] = (balanced_df['language'].isin(['Python'])).astype(int)
balanced_df['Treatment'] = balanced_df.post_CI*balanced_df.python
balanced_df

,iso2_code,language,year_quarter,unique_id,num_pushers,language_type,year,quarter,gpt_available,population,num_pushers_pc,post_CI,python,Treatment
0,AE,HTML,2020-Q1,AE-HTML,2066.0,markup,2020,1,1,9446000,21.871692,0,0,0
1,AE,HTML,2020-Q2,AE-HTML,3254.0,markup,2020,2,1,9446000,34.448444,0,0,0
2,AE,HTML,2020-Q3,AE-HTML,3208.0,markup,2020,3,1,9446000,33.961465,0,0,0
3,AE,HTML,2020-Q4,AE-HTML,3255.0,markup,2020,4,1,9446000,34.459030,0,0,0
4,AE,HTML,2021-Q1,AE-HTML,3321.0,markup,2021,5,1,9446000,35.157739,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51835,CG,SCSS,2022-Q4,CG-SCSS,0.0,NaN,2022,12,1,4559000,0.000000,0,0,0
51836,CG,SCSS,2023-Q1,CG-SCSS,0.0,NaN,2023,13,1,4559000,0.000000,1,0,0
51837,CG,SCSS,2023-Q2,CG-SCSS,0.0,NaN,2023,14,1,4559000,0.000000,1,0,0
51838,CG,SCSS,2023-Q3,CG-SCSS,0.0,NaN,2023,15,1,4559000,0.000000,1,0,0
51839,CG,SCSS,2023-Q4,CG-SCSS,0.0,NaN,2023,16,1,4559000,0.000000,1,0,0

In [99]:
# balanced_df.Treatment.describe()

In [100]:
unique_values = balanced_df['unique_id'].nunique()
print(unique_values)

3240

### Check Variables

In [106]:
balanced_df.to_csv("C:/Users/Alexander/Documents/GitHub/GPT-Impact-GitHub/output/csv/languages_panel_top20.csv")